[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pytest = "*"
flake8 = "*"
mypy = "*"

[packages]
matplotlib = "==3.1.1"
numpy = "==1.17.0"
pandas = "==0.25.0"

[requires]
python_version = "3.7"
